<!-- <swiper [slidesPerView]="1" [navigation]="false" [keyboard]="{ enabled: true
  }"
  [virtual]="true"
  class="my-swiper"
>
  <ng-template swiperSlide *ngFor="let slide of slides$ | async; index as i">
    <div class="swiper-slide-container">
      {{ slide }}
    </div>
  </ng-template>
</swiper> -->

<!-- <swiper [slidesPerView]="1" [navigation]="false" [keyboard]="{ enabled: true }" [virtual]="true" class="my-swiper">
  <ng-template swiperSlide *ngFor="let slide of slides$ | async; index as i">
    <div class="swiper-slide-container">
      <div class="grid-container">
        
        <div *ngFor="let row of [0, 1, 2, 3, 4]" class="grid-row">
          <div *ngFor="let col of [0, 1, 2, 3, 4]" class="grid-item">
             
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</swiper> -->

<!-- <div class="container-div1" style="height: 500px;">
  <swiper 
[slidesPerView]="1" 
[navigation]="false" 
[keyboard]="{ enabled: true }" 
[virtual]="true">
  <ng-template swiperSlide *ngFor="let slide of slides$ | async; index as i">
    <div class="swiper-slide-container">
      <div class="grid-container"> -->
        <!-- Nested loops to generate 5x5 grid -->
        <!-- <div *ngFor="let row of [0, 1, 2, 3, 4]" class="grid-row">
          <div *ngFor="let col of [0, 1, 2, 3, 4]" class="grid-item">
            <div class="grid-content">
              apple 5$
            </div>
          </div>
        </div> -->
      <!-- </div>
    </div>
  </ng-template>
  </swiper>
</div> -->

<div class="container-div">
  <swiper
  [slidesPerView]="1" 
  [navigation]="true" 
  [keyboard]="{ enabled: true }" 
  [virtual]="true">
      <ng-template swiperSlide class="slide-container">
        <div class="first-slide">
          <corp-slide-item *ngFor="let slide of slides$ | async;" >

          </corp-slide-item>
        </div>
      </ng-template>
      <ng-template swiperSlide class="slide-container">
        <div class="second-slide">
          <corp-slide-item *ngFor="let slide of slides$ | async;" >

          </corp-slide-item>
        </div>
      </ng-template>
  </swiper>
</div>